header > a {
  line-height: 31px;
  margin-top: 0;
  color: #FFF;
  display: block;
  float: left;
  line-height: 25px;
  font-size: 30px;
  margin: 0 12px;
  margin-top: 30px;
}

header > a:hover {
  color: #fff;
}

.overlay {
  opacity: 0.4 !important;
}

.index-hero-container {
  margin-top: 50px !important;
}

.index-hero-item {
  padding: 0 50px;
}

.index-hero-item h2 {
  font-size: 35px !important;
}

body {
  background-image: url('../lib/home_video_pic.png') !important;
}

.second {
  background-image: url('../lib/learn_more_pic.png') !important;
}

.third {
  background-image: url('../lib/sponsors_pic.png') !important;
}

.index-icon {
  height: 75px;
  -webkit-filter: invert(100%);
}

.register-btn {
  border-color: #fff;
}

.desc {
  color: #fff !important;
  font-size: 20px !important;
}
